
// color
$colorPrimary: #ffb114;
$blue-color-dark:#2A8ADF;
$colorWarn: #f51d00;
$colorGray: #888;
$hl-color-dark:#c61a37;

// link
$linkColorDefault: #6a89cc;

// background
$bgColorDefault: #ebeced;
$bgColorActive: #ECECEC;

// line
$LineColorLight: #E5E5E5;
$LineColorDark: #BCBAB6;

// text
$textColorDefault: #333;
$textColorTitle: #333;
$textColorSubTitle: $colorGray;
// $TextColorTips: #B2B2B2;
// $TextColorWarn: $ColorWarn;


